<html>
  <head>
    <meta charset="utf-8" ?>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <head>
  <body>
    <div class="header">header</div>
    <h1>テストだよ<_h1>
    <%= yield %>
    <div class="footer">footer</div>
  </body>
</html>